body { font: 16px Helvetica, Sans-Serif; }
.clear { clear: both; }
h1 { font-weight: bold; border-bottom: 1px solid #999; }
h2 { position: relative; }
a { color: #999; text-decoration: none; border-bottom: 1px dotted #999; }
a:hover { border-bottom-style: solid; color: black; }
.field-name { text-align: left }
